<!--File: main_template.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
</head>

<body class="container">
 <H3><%= name %></H3>
      <table id="actions" >
      <tr> <td>
      <a href="/bookloan">Check Out Books</a>
      </td></tr>
      <tr> <td>
      <a href="/checkins">Check In Books</a>
      </td></tr>
      <tr> <td>
      <a href= "/managebooks">Manage Books</a>
      </td></tr>
      <tr> <td>
      <a href= "/managepatrons" >Manage Patrons</a>
      </td></tr>
      <tr> <td>
      <a href= "/viewreports" >View Reports</a>
      </td></tr>
      </table>
</body>
</html>
