<!--File: main_template.html -->

<!DOCTYPE html>
<html>
<head>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
</head>

<body>
 <H3>{{name}}</H3>
      <table id="actions" >
      <tr> <td>
      <a href="/bookloan">BookLoans</a>
      </td></tr>
      <tr> <td>
      <a href= "/newbook">Manage Books</a>
      </td></tr>
      <tr> <td>
      <a href= "/newpatron" >Manage Patrons</a>
      </td></tr>
      <tr> <td>
      <a href= "/reportx" >View Report X</a>
      </td></tr>
      </table>
</body>
</html>
