<!-- File: newpatron_template.html -->
<!DOCTYPE html>
<html>
<head>
 <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<style>
div.container {
   font: normal normal normal 11px/normal '.Arial-Regular';
    width: 42em;
    height: 14em;
    padding: 5px;
    border: .1em solid black;
    background-color: lightgray;
}

#old-patron-box, new-patron-box {
padding: 2px;
}

}
#heading {
 text-align:center;
}

#filter-label {
  width: 14%;
  background-color: #E7EBEC;
}

#newbook-label {
  width: 14%;
  background-color: #E7EBEC;
}
#filter-patrons {
  width: 5%;
}
#patron-list {
  width: 75%

}

#newpatron {
width:80%;
}

#button-box {
text-align:center;
}
 .button {
  margin: 10px;
    color: yellow;
    background-color: gray;
}
 
.box {
padding: 5px;
}

</style>
</head>

<body>
<div class = "container">
   <div class = "box" id="header-box" >
      <h2 id="heading"><%= name %></h2>
   </div>
   <div class="box" id="old-patron-box">
    <input type="text" value="Old Patron:" class="label" id="filter-label" disabled>
    <input type="text" id="filter-patrons">
    <select id="patron-list" >
     {{persons}}
    </select>
   </div>
   <div class="box" id="new-patron-box">
    <input type="text" value="New Patron:" id="filter-label" disabled>
    <input type="text" id="newpatron">
   </div>
   <div class="box" id="button-box">
    <input type="button" class = "button" id="save-newpatron-button" value="SaveNew">
    <input type="button" class = "button" id="remove-oldpatron-button" value="RemoveOld">
   </div>
</div>
   <script src="/js/library.js"></script>
</body>
</html>
